body{
    background-color: #eaf0f1;
    background:url(../img/davechat1.jpg);
    height:fit-content;
    
}

.navbar{
    background-color: darkslategray;
    height: 70px;
    text-shadow: darkturquoise;
    
}

.container{
    clear: both;
}

.index{
    text-align: center; padding:10px; color:rgb(170, 110, 60) ;  font-family: 'Raleway', sans-serif;
    /* background-color: rgba(0, 0,0, .5); */
    
}

.articlepix{
    width: 50px;
     border:1px solid #ddd; padding:2px;
    border-radius: 40%;

}
.top{
    /* margin: -30px -20px -30px 250px; */
    margin-top: -5px;
    width: 50px;
    border-radius: 50%;
    border:1px solid #ddd; padding:2px;

    /* border-radius: 0px; border:0px solid #ddd; padding:0px; */
}

.new-post{
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post{
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info{
    color: #aaa;

}
hr , article {
    background-color: white;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.imgp{
    width:33%; border-radius: 8px; border:1px solid #ddd; padding:8px;
    margin-left: 10%;
}
#joy{
    margin-left: 30px;
    font-size: 20px;
}
.img-responsive{
    border:1px solid #ddd; padding:4px;

    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: -0px;
    width: 200px;
    border-radius: 40%;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    clear: both;
    margin-top: 400px;
}